* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Para centrar verticalmente en la pantalla */
    background: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExcnlzMGJoZ3VzMDlsbHRtdzNlM2h6ejBxaXYxYm45bXNlM25hdmcxcyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/29ojw8MkbPW9m6uhnw/giphy.gif') 
        no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Asegura que todo esté centrado */
    text-align: center;
    gap: 20px;
    max-width: 500px;
}

.container .tenor-gif-embed {
    max-width: 200px;
}

.container .btn {
    display: flex;
    gap: 25px;
}

.btn a {
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem rgba(0, 0, 0, 0.3);
}
